<div class="container">

  <div class="row"> <!-- start of row 1 -->

    <div class="col-3">
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <div class="container">
            <h4 class="card-title">Profile</h4>
            <h4 class="card-title"><%= current_user.username %></h4>
            <h6 class="card-title">Tweets count</h6>
            <h6 class="card-title">Following <%= current_user.following.count %></h6>
            <h6 class="card-title">Followers <%= current_user.followers.count %></h6>
          </div>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Trends for you</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-6">
      <% @tweets.latest.each do |tweet| %>
      <%= @users.latest.each do |user| %>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title"><%= user.username %></h4>
          <p class="card-text"><%= tweet.content %></p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>

    <div class="col-3">
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Who to follow</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">About Twitter</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

  </div> <!-- end of row 1 -->

</div> <!-- end of container -->
